body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    background-color: #150ed2;
    color: white;
    padding: 10px 20px;
    flex-wrap: wrap;
}

header .logo {
    max-height: 50px;
    margin-right: 20px;
}

nav {
    background-color: #150ed2; /* Change this to match the header background color */
}

nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

h1, h2 {
    margin: 0;
}

main {
    background: white;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#listeJPO {
    list-style-type: none;
    padding: 0;
}

#listeJPO li {
    background: #fff;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #150ed2;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4559a0;
}
